body {
	padding: 0px;
	margin: 0px;
}

#albumList {
	float: left;
	overflow: auto;
border: 1px solid red;
}

#imageList {
	float: left;
	overflow: auto;
border: 1px solid blue;
}

#mainContainer:after {
	content: "";
	clear: both;
	display: block;
	height: 0;
	visibility: hidden;
}


#imageList .thumbnail {
	display: inline;
}
