body {
	padding: 0px;
	margin: 0px;
	background-color: #000;
	color: #ccc;
}

#albumList {
	float: left;
	overflow: auto;
border: 1px solid red;
}

#imageList {
	float: left;
	overflow: auto;
border: 1px solid blue;
}

#mainContainer:after, #imageList:after {
	content: "";
	clear: both;
	display: block;
	height: 0;
	visibility: hidden;
}


#imageList .thumbnail img {
}

#imageList .thumbnail {
	float: left;
	width: 75px;
	height: 75px;
	margin-left: 7px;
	margin-right: 6px;
	margin-top: 7px;
	margin-bottom: 6px;
	border: 1px solid #fc9;
}

#imageList .thumbnailSelected {
	border: 2px solid #f60;
}
